body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #34495e;
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #ecf0f1;
}

.loading-container {
  text-align: center;
}

.loading-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.loader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: pulse 1s infinite ease-in-out, colorChange 1s infinite alternate;
}

.circle:nth-child(1) {
  background-color: #e74c3c;
  animation-delay: 0s;
}
.circle:nth-child(2) {
  background-color: #f39c12;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: 0.4s;
}
.circle:nth-child(4) {
  background-color: #2ecc71;
  animation-delay: 0.6s;
}
.circle:nth-child(5) {
  background-color: #3498db;
  animation-delay: 0.8s;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes colorChange {
  0% {
    background-color: #e74c3c;
  }

  25% {
    background-color: #f39c12;
  }

  50% {
    background-color: #f1c40f;
  }

  75% {
    background-color: #2ecc71;
  }

  100% {
    background-color: #3498db;
  }
}
